body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #754f19;
    z-index: 100;
}

#bottom-nav button {
    width: 100%;
    height: 100%;
    background: none;
    border: 4px solid #3a270c;
    color: #ddc098;
    font-size: 1.1rem;
    border-top: 8px solid #3a270c;
    border-bottom: 8px solid #3a270c;
    cursor: pointer;
    transition: color 0.2s;
    text-transform: uppercase;
}

#bottom-nav button:hover {
    background-color: #96641f;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.close-button {
    background: none;
    border: none;
    color: #ddc098;
    font-size: 1.2rem;
    cursor: pointer;
}

.start-button {
    background: none;
    padding: 6px 10px;
    border: 2px solid #3a270c;
    color: #ddc098;
    cursor: pointer;
    transition: color 0.2s;
    text-transform: uppercase;
    border-radius: 2px;
}

.start-button:hover {
    background-color: #96641f;
}

#quest-window {
    position: fixed; /* pour qu'elle soit toujours au centre même en scrollant */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centre parfaitement */
    background: #754f19;
    border: 8px solid #3a270c;
    border-radius: 8px;
    padding: 20px;
    color: #ddc098;
    z-index: 100;
    width: 600px; /* ou plus/moins selon ton design */
    max-height: 70vh;
    flex-direction: column;
}

.quest-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.quest-list-scrollable {
    overflow-y: auto;
    padding-right: 10px; /* espace pour la scrollbar */
    max-height: calc(70vh - 50px);
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

.quest-item {
    border: 2px solid #ddc098;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.quest-header-title {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}

#combat-hud {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #754f19;
    z-index: 100;
    gap: 20px;
}

.combat-actions {
    display: flex;
    align-items: center;
}

#attack-button {
    padding: 15px 30px;
    background: #754f19;
    border: 4px solid #3a270c;
    color: #ddc098;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#attack-button:hover {
    background-color: #96641f;
}

#combat-abandon {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 200;
}

.abandon-button {
    background: #754f19;
    border: 2px solid #3a270c;
    color: #ddc098;
    font-size: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

.abandon-button:hover {
    background-color: #96641f;
}

#quest-success-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #754f19;
    border: 4px solid #3a270c;
    border-radius: 8px;
    padding: 20px;
    color: #ddc098;
    z-index: 200;
    width: 400px;
    text-align: center;
    display: none; /* Masqué par défaut */
}

#quest-success-window.visible {
    display: block; /* Afficher lorsque la classe "visible" est ajoutée */
}

#quest-success-window .success-content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


#close-success-button {
    background: none;
    border: 2px solid #3a270c;
    color: #ddc098;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#close-success-button:hover {
    background-color: #96641f;
}

#gold-display {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #754f19;
    color: #ddc098;
    padding: 6px;
    padding-right: 10px;
    border: 4px solid #3a270c;
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 4px; /* Espacement entre l'image et le texte */
}

.gold-icon {
    width: 34px; /* Taille de l'image */
    height: 34px;
}

.quest-gold-reward {
    display: flex;
    align-items: center;
    gap: 4px;
}

.quest-gold-reward-text {
    margin: 0;
}

#combat-player-hud {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#health-bar-container {
    width: 200px;
    height: 20px;
    background-color: #444;
    border: 2px solid #222;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#health-bar {
    height: 100%;
    background-color: #f00;
    width: 100%; /* La largeur sera ajustée dynamiquement */
    transition: width 0.3s ease;
}

#health-text {
    font-weight: bold;
    color: #fff;
}

.mob-health-bar-container {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: #444;
    border: 1px solid #222;
    border-radius: 5px;
    overflow: hidden;
    pointer-events: none; /* Empêche les interactions avec la barre */
}

.mob-health-bar {
    height: 100%;
    background-color: #f00;
    width: 100%; /* La largeur sera ajustée dynamiquement */
    transition: width 0.3s ease; /* Animation fluide */
}